.container{
    width: 79.16%;
    /* background-color: aqua; */
    margin: 0 auto;
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addProduct{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 42px;
}
.addProduct div{
    display: flex;
    /* background-color: pink; */
    margin-bottom: 20px;
    align-items: center;
}
.addProduct div p{
    font-size: 24px;
    font-weight: 400;
    color: #282828;
}

.addProduct button{
    margin-bottom: 10px;
    width: 132px;
    border: none;
    border-radius: 10px;
    background-color:#55A3F0 ;
    font-size: 16px;
    color: #fff;
}

@media (min-width:200px) and (max-width:480px){
    .container{
        width: 95% !important;
        margin-top: 10px;
    }
     
    .addProduct{
        margin-top: 12px;
        height: 32px;
    }
    .addProduct div{
        /* background-color: pink; */
        margin-bottom: 10px;
    }
    .addProduct div p{
        font-size: 10px;
    }
    .addProduct div svg{
        height: 20px;
        width: 20px;
    }
    
    .addProduct button{
        margin-bottom: 4px;
        width: 22%;
        border-radius: 6px;
        font-size: 8px;
    }
  }
  @media (min-width:481px)and (max-width:768px) {
    .container{
        width: 75% !important;
        margin-top: 20px;
    }
   
    .addProduct{
        margin-top: 22px;
        height: 42px;
    }
    .addProduct div{
        /* background-color: pink; */
        margin-bottom: 12px;
    }
    .addProduct div p{
        font-size: 14px;
    }
    .addProduct div svg{
        height: 30px;
        width: 30px;
    }
    
    .addProduct button{
        margin-bottom: 8px;
        width: 30%;
        border-radius: 8px;
        font-size: 10px;
    }
}
@media (min-width:769px) and (max-width:1220px){
    .container{
        width: 85% !important;
        margin-top: 25px;
    }    
    .addProduct{
        margin-top: 32px;
        height: 50px;
    }
    .addProduct div{
        /* background-color: pink; */
        margin-bottom: 22px;
    }
    .addProduct div p{
        font-size: 16px;
    }
    .addProduct div svg{
        height: 35px;
        width: 35px;
    }
    
    .addProduct button{
        margin-bottom: 12px;
        width: 25%;
        border-radius: 10px;
        font-size: 12px;
    }
}