@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
html {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  
  line-height: 1.5;
  font-weight: 400;
  direction: rtl;

}

body {
  
  font-family: Vazirmatn, sans-serif;
  font-feature-settings: "ss01", "tnum";
  background-color: #F7F8F8;
  max-width: 1440px;
  height: 100vh;
  margin: auto;
  position: relative;

}
.toast-body{
  font-family: Vazirmatn, sans-serif;
  font-size: 50px;
}
button{
  cursor: pointer;
  font-family: Vazirmatn, sans-serif;
}
input{
  font-family: Vazirmatn, sans-serif;
}